[submodule "liveMedia"]
	path = liveMedia
	url = https://github.com/mhallak/l5liveMedia.git
[submodule "BasicUsageEnvironment"]
	path = BasicUsageEnvironment
	url = https://github.com/mhallak/l5BasicUserEnvironment.git
[submodule "UsageEnvironment"]
	path = UsageEnvironment
	url = https://github.com/mhallak/l5UsageEnvironment.git
[submodule "groupsock"]
	path = groupsock
	url = https://github.com/mhallak/l5groupsock.git
